<!-- ko with: reports -->

<div class="folder" id="reports">
    <h2>@Resources.Common.Reports</h2>

    <div>
        <a href="@Url.Action("GetBudgetByContractorsReport", "Report")" target="_blank">
            @Resources.Home.Reports.BudgetByContrahents
        </a>
    </div>
</div>

<!-- /ko -->