@{
    ViewBag.Title = Resources.Common.ConfirmEmail;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @(Resources.Common.EmailConfirmed). @Resources.Common.Please @Html.ActionLink(Resources.Common.ClickToLogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
