@{
    ViewBag.Title = Resources.Common.ForgotPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @(Resources.Common.CheckEmailToResetPassword).
    </p>
</div>
	
