<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net debug="true">
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="logs/TaskManager.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <system.net>
    <mailSettings>
      <smtp configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
          <CipherData>
            <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVwFgw+Ty3UCYAtMNdpfAJAQAAAACAAAAAAAQZgAAAAEAACAAAAAWiLFft2K5p5jZ8OgPpRLKcGzwphPCuXW8fAOO5UjDTQAAAAAOgAAAAAIAACAAAACdDg6Hr9r4RY8Li4hytbvuDRhonrcmOsE/CgQiElBW1/ABAAAzW8QzO/ujjlu+4j1YhSBPkhQ+QrdkQGFd7o4oJY0C8okGWdOCtqAf6e/XUbMT9TLYupKpGbQQmVlj2S2H2Exp9CarCfMKl+ZDzeZ6GwR3REF6Duh2S7cM6MZB0Y+VohyhA/aYnmx4tM4wHabAXbfPzBugXK/FUFOvpl9y5Jh/qPCN3BLejpu0pxF13wWNngyvgyH31woY7c+08nV8DCrTf2k/8/0NS0esysCqA8NeayoWygytOcOaH+SoHHBACuRkrzI9g/+QVP6D76K/RUHV4Rz5WB0KC4otufzF0iwNoiw53Z3IK8moso+mKZF0BrGON8fn7FJuQDzO5+YkUIo02vnlGdwep6UCBFbL7LqrTNofZvoXmCop4U+gf6zrAlZJBXFJp8WRWbRwz/SaeWDBZM9i6+SAJ/2FNXjRmw7SGxE9mqZ7d7WYp0MjP42N45XTqyfIgkxAuBFDzViwavNTGb9BjQYAbj3LuoT5gHt8LxINRh3LARThQci5yG5GFxvvuzFUco1WpBGE/xVSxa8FUCvq2mjEUKSE9gv0SBQ5eudxpzgbl50JW+1S0ws8ORxqJXEYPFMNCKR1DokFOoSesf8CsgxwE7RSCQBmxpqk4FWpIGcEeeDMK7DWk/YtJHQCX7N0MjG701S74l7g0gmFQAAAAABx/hVCmbDKAuQR/D7+MqrTta5Uwp5UOzMidsQUigEe0LyZB4B/G9zgKHQk1Hzw9ewMcluO/zyxcgAVknCG7KM=</CipherValue>
          </CipherData>
        </EncryptedData>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVwFgw+Ty3UCYAtMNdpfAJAQAAAACAAAAAAAQZgAAAAEAACAAAADi+P9bLKdz+L+qOvL3NX7ArQJiiqjtmbzLUjekWRsdIwAAAAAOgAAAAAIAACAAAAADz+aAFhMQoUj8+hS04Z1SZJPAH6gc7mW2AVPanMS1QNABAAD9pX+EHd++K+E4MNQULhZ6lKoWmKdlj7PZOkksP1c6quL6g0Im0XwtBQHawIcgjWA8ORZF3mseYEHFV0W5C1hJH1NedzrLJQtrmTTeMRk31Ns/8UiLbgplhHxVbYVwb7fmzXzPaT7mvhBEoTyAz6L1xq75ki9z1hUBTrEbRCL1GNzgJs1eineSR6j9zE7K1J3Uu2dlDMCs4zh2Ml8FzKuU1Oi2xAOvfdwPXauDNtjeYY4whJcSDzlLaSi9bslRjVBtKal56sTsPrIW0sM5PlikZdgK0iTLdn5qV9UQ433m+6Lw/AAjK1cq7T0XSL6VffFvgnd4ZzNESZuE5/skpw3cYgrIcDvw6RlFs3LdAHCZtDRQJA2ziWWq9tRMoYJvi3GpOAvnFuGPrwWvipce77bLi1iwpetzEtOuXeWfo7UWAZmrdctnDLsoYrMiMVcdtk6xSZWZ4mKlgd7T2XXZ6atf2cc7puTRd4zBCyjylrvCpxEllQnQFhIRFVqzQqr0mXZ80pPnOUTXRUvS5ElLKSOb0ZAO56uqaGAfwMbwNuNcCn3Qnf9qn9p7MCPDyhO7F0Jx7GwilTK5Mt8+PLLx+uVIDht/vyEv81B0HpYp83YAzkAAAACpGwzGR55Z67vuN06ogLIQaYT/zJClnOsgCqKQ36o3Y0GhIHnGTwoo9/Kk203qvwSP+VpJPqnzkPpMAWdsqFwG</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="IsLoggingEnabledByDefault" value="false" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Cache2Hours" duration="7200" enabled="false" />
          <add name="Cache10Hours" duration="36000" enabled="false" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <globalization culture="auto" uiCulture="auto" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
